/* css styles */
.navbar-logo{
    max-height:25px
}
.quarto-title-banner,
.quarto-title,
.description{
    display: none !important
}
.action-button {
    padding:0 20px;
}
.input-username p{
    height:25.5px
}
.error{
    color:red
}
input.error{
    border-color:red
}
.success{
    color:green
}